.moduleCard {
    background-color: var(--bg-chassis);
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    transition: background-color 0.2s;
    cursor: pointer;
}

.moduleCard:hover {
    background-color: #1f1f1f;
}

.moduleCard:hover .moduleId {
    color: var(--accent-hazard);
}

.moduleId {
    font-size: 12px;
    color: var(--text-muted);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.modulePrice {
    color: var(--text-primary);
    background: var(--border-dim);
    padding: 2px 8px;
}

.imageContainer {
    height: 160px;
    margin-bottom: 24px;
    background: #000;
    border: 1px solid var(--border-dim);
    overflow: hidden;
}

.moduleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: grayscale(100%);
}

.moduleTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.moduleDesc {
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-muted);
    margin-bottom: 32px;
    flex-grow: 1;
}

.moduleAction {
    border-top: 1px solid var(--border-dim);
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--accent-hazard);
    text-transform: uppercase;
}
